* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(216, 224, 231);
    font-size: 1.5rem;
    color: aliceblue;
    text-align: right;
    padding-right: 1rem;
}

body{
    background-color: rgba(43, 39, 37, 0.089);
}

.fondoCamping{
    height: 23rem;
    
}



.box {
    background-image: url(images/fondo.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 100%;
    text-align: justify;
    color: rgb(253, 253, 251);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    opacity: 0.9; 
}

.titulo{
    text-align: center;
}

i {
    margin-right: 1rem;
}

.ingreso {
    margin-top: 1rem;
}


.presentacion {
    color: aliceblue;
    font-size: 1.8rem;
}

section {
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: rgb(250, 64, 40);
    padding: 1rem;
    background-image: url(.images/imagen-1.jpg);
    background-repeat: repeat;
    background-size: 60rem 45rem;
    background-attachment: fixed;
    background-position: center center;
    text-align: center;
    justify-content: center;

}

.fondoGris{
    background-color: rgba(35, 124, 13, 0.2) pt-2 pb-2;
}

a{
    color: #808080;
}

